<link rel="stylesheet" href="style.css">

{% include 'sidebar.html' %}

<article style="position:relative;float:right;">
 <header>
   <h1>A heading here</h1>
   <p>Posted by {{ name }}</p>
   <p>Some additional information here</p>
 </header>
 <p>Lorem Ipsum dolor set amet....</p>
</article>
